[Unit]
Description=

[Service]
PassEnvironment=STUDENT LAB TRAINING ANALYTICS KUBECONFIG
ExecStart=/var/_data/web
WorkingDirectory=/var/_data
KillMode=process
Restart=on-failure
Type=exec

[Install]
WantedBy=multi-user.target